/* reset */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;

  background: url("../image/bg-login.jpg") no-repeat center center;
  background-size: cover;
  image-rendering: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay tối nhẹ cho dễ nhìn */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

/* KHUNG LOGIN TRONG SUỐT */
.login-box {
  width: 380px;
  padding: 32px;

  background: rgba(255, 255, 255, 0.15);
  /* backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); */

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  color: #fff;
}

/* tiêu đề */
.login-box h2 {
  text-align: center;
  margin-bottom: 24px;
}

/* input */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;

  border: none;
  border-radius: 10px;
  outline: none;
}

/* button */
.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #ff9800, #ffc107);
  font-weight: bold;
  cursor: pointer;
}

/* link */
.login-box a {
  color: #ffd54f;
  text-decoration: none;
}

/* message */
.message {
  text-align: center;
  margin-bottom: 16px;
}
